@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@charset "UTF-8";

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header .container
{
    position: relative;
    padding: 0em 0em;
}


/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav
{
    position: absolute;
    right: 0em;
    top: 1.0em;
}

#nav > ul > li
{
    float: left;
}

#nav > ul > li:last-child
{
    padding-right: 0;
}

#nav > ul > li > a,
#nav > ul > li > span
{
    display: block;
    margin-left: 0.7em;
    padding: 0.80em 1.2em;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    outline: 0;
    color: #333;
}

#nav li.active a
{
    background: #e95d3c;
    border-radius: 5px;
    color: #FFF;
}

#nav > ul > li > ul
{
    display: none;
}

/* Buttons */

.button
{
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.50em 1.5em;
    background: #4CAF50;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #FFF;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    cursor: pointer;
}


body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}